::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgb(44, 35, 102);
}

::-webkit-scrollbar-thumb {
  background: rgb(76, 64, 157);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(90, 77, 179);
}
