.bg-custom-ungu{
    background-color: rgb(60,42,78) !important;
}
.juara-iii:hover{
    background-color: #ffb050 !important;
}
.juara-ii:hover{
    background-color: #cacaca !important;
}
.juara-i:hover{
    background-color: #ffe279 !important;
}